// rgb(253, 15, 21) = #FD1015
// #FFE7E8

a:hover {
  text-decoration: none;
}

.container-form {
  display: flex;
  justify-content: space-around;
}

.form-ski,
.form-ideas {
  width: 500px;
  height: 500px;
  background-color: rgba(200, 200, 200, 0.4);
  border-radius: 3px;
  box-shadow: 8px 8px 8px rgba(200, 200, 200, 0.8);
  margin: 16px 16px 32px 16px;
  text-align: center;
  padding: 20px;
}

.faq,
.team {
  background-color: rgba(200, 200, 200, 0.4);
  border-radius: 3px;
  box-shadow: 8px 8px 8px rgba(200, 200, 200, 0.8);
  padding: 20px;
  margin: 16px 16px 32px 16px;
}
