  <div class="banner">
    <h1>Hop in Le Wagon !</h1>
    <div class="btn btn-danger">
      <%= link_to "Join us", "#", class: "btn-space" %>
    </div>
  </div>

<div class="container mt-5">
  <h3>L'asso</h3>
  <p>Tous les anciens élèves du Wagon sont automatiquement membre de l'association des alumni du Wagon. Cela vous donne droit, pour le moment, à vous inscrire à ces fabuleux formulaires 👇</p>
  <div class="container-form">
    <div class="form-ski">
      <h3>Week-end au ski</h3>
      <p>Inscrivez-vous !</p>
    </div>
    <div class="form-ideas">
      <h3>Boite à idée</h3>
      <p>Envoyez-nous vos idées pour l'asso des alumni !</p>
    </div>
  </div>
  <h3>F.A.Q.</h3>
  <div class="faq">
    <h5>Qui est membre ?</h5>
    <p>Tout le monde</p>
    <h5>Questcequecest</h5>
    <p>Tes rêves les plus fous</p>
    <h5>Questcequecest</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolore voluptatum quas tempora, inventore fugit, libero explicabo excepturi debitis impedit facere asperiores praesentium!</p>
    <h5>Questcequecest</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur soluta illum in tempore explicabo quod? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, laboriosam, qui. Sapiente sunt libero illum laudantium sint quia debitis doloremque, nihil earum facere obcaecati iusto atque magni voluptate corporis non!</p>
    <h5>Questcequecest</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab laboriosam quia vel magnam beatae nulla nihil, nesciunt optio, laborum incidunt eligendi nisi tenetur accusamus ipsum suscipit veritatis, nam molestias excepturi.</p>
    <h5>Questcequecest</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat natus numquam ducimus veritatis ex animi vel, fugit officiis ipsum enim.</p>
  </div>
  <h3>L'équipe</h3>
  <p>Pour nous contacter, envoyez nous un FAX</p>
  <div class="team" id="team">
    <h5>Thomas Bozzo</h5>
    <p>Big boss. Il vous virera de l'asso si vous êtes pas assez cool. 😈 👾</p>
  </div>
</div>


